
@import url(../fonts/stylesheet.css);
*::before, *::after{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  @media screen and (max-width: 425px) {
    font-size: 30px;
  }
}
/* header */
header{
  padding: 205px 0 170px 0;
  background-image: url(../images/hero-bg.png);
  background-position-x: 39px;
    .left-side{
      display: flex;
      align-items: center;
      @media screen and (max-width: 425px) {
        flex-direction: column;
      }
      img{
        max-width: 385px;
      }
      p{
        font-size: 18px;
        color: #3C3E42;
      }
      @media screen and (max-width: 425px) {
        margin-bottom: 30px;
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0;
        @media screen and (min-width: 768px){
          padding-top: 130px;
        }
        li {
          flex-basis: 25%;
          img{
            max-width: 100%;
          }
        }
      }

      @media screen and (max-width: 425px) {
        margin-bottom: 40px;
      }
  }
  // second stage
  .header-second-stage {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 0;
      li {
        flex-basis: 50%;
        img {
          max-width: 100%;
        }
      }
    }
    .right-side{
      .text-content{
        p{
          font-size: 16px;
          line-height: 30px;
          @media screen and (min-width: 768.1px){
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 425px) {
    padding-bottom: 0px;
  }
}
.after-line{
  position: relative;
}
.after-line::after{
  content: "";
  background-image: url(../images/yellow-line.svg);
  position: absolute;
  bottom: -30px;
  left: -20px;
  height: 10px;
  background-position: center;
  background-size: cover;
  width: 100%;
}
// main
main {
  background-image: url(../images/main-bg.png);
  background-position: 209% 10%;
  padding-bottom: 200px;
  .left-side {
    
    img{
      width: 100%;
      max-width: 500px;
    }
    .picture{
      position: relative;
      .text-content {
        left: 90px;
        bottom: -53px;  
        font-size: 15px;
      
        @media screen and (min-width: 768.1px) {
          left: 120px;
          font-size: 20px;
        }
        @media screen and (min-width: 1024.1px) {
          font-size: 30px;
        }
      }
    }
   
    .btn{
      margin-top: 175px;
      @media screen and (max-width: 425px) {
        margin-top: 120px;
      }
    }
    @media screen and (max-width: 425px) {
      margin-bottom: 40px;
    }
  }
  .right-side{
    .small-title{
      img{
        max-width: 40px;
      }
      @media screen and (max-width: 425px) {
        margin: 0;
      }
    }
    .sound-box{
      max-width: 1000px;
      padding: 10px;
     
      .sound-box_header{
        position: relative;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
        .airphones{
          max-width: 150px;
          @media screen and (max-width: 425px) {
            max-width: 130px;
          }
        }
        &::after{
          content: "";
          position: absolute;
          background-image: url(../images/airphones.png);
          width: 100px;
          z-index: 10000;
        }
        .image {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          img{
            max-width: 100%;
          }
        }

      }
      .airphones{
        position: absolute;
        right: 0;
        top: -90px;
        @media screen and (max-width: 425px) {
          max-width: 130px;
        }
      }
      .sound-item {
        margin-bottom: 30px;
      }
      @media screen and (max-width: 425px) {
        small{font-size: 10px;text-align: center;}
      }
      
    }
    .sound-box_content{
      padding: 40px 25px;
      border-radius: 20px;
      background-color: #fff;
      position: relative;
      .before-cloud {
        background-size: contain;
        left: -50px;
        top: -34px;
        position: absolute;
        max-width: 110px;
      }
      .square-icon {
        max-width: 135px;
        left: -60px;
        bottom: -68px;
        z-index: -100;
      }
      @media screen and (min-width: 768.1px) {
        padding: 40px 70px;
      }
    }
    audio {
      width: 100%;
    }
  }
  .left-ellipse{
  left: -250px;
  bottom: -350px;
  @media screen and (max-width: 768px) {
    max-width: 300px;
    left: -150px;
    bottom: -170px;
  }
  @media screen and (max-width: 425px){
    max-width: 200px;
    left: -100px;
    bottom: -100px;
  }
  }
  .right-ellipse{
    right: -350px;
    bottom: -500px;
    @media screen and (max-width: 768px) {
      max-width: 400px;
      right: -200px;
      bottom: -200px;
    }
    @media screen and (max-width: 425px){
      max-width: 300px;
      right: -150px;
      bottom: -180px;
    }
  }
  .main-btn{
    margin-top: 250px;
    @media screen and (max-width: 425px) {
      margin-top: 75px;
    }
  }
  iframe {
    width: 100%;
  }
}
.shape {
  position: absolute;
}


