.top-bar ul{
	padding-left: 1rem;
}
.login-btn{
	background: #5675E9;
	font-size: 16px;
	box-shadow: 0px 20px 26px rgb(85 117 232 / 75%);
	border-radius: 14px;
    padding: 10px 20px;
    width: 190px;
    display: block;
    margin: auto 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
}
.navbar-section .navbar-nav .nav-link{
	color: rgba(51, 51, 51, 0.41);
	font-weight: 800;
}
.navbar-section .nav-item:last-child .nav-link:last-child {
    font-weight: 800;
    background-color: transparent;
    color: rgba(51, 51, 51, 0.41);
    padding: 0.5rem 1rem;
    padding-right: 0;
}
#podcast .content-section .text-heading {
    margin-bottom: 3rem;
}
.play-box{
	width: 35%;
}
.user-hand{
	width: 50%;
    position: absolute;
    top: 5%;
}
.play-circle{
	position: absolute;
	top: -16%;
	left: -9%;
}
.circle1{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.yellow{
	background: #E7AE51;
}
.purple{
	background: #C37EB0;
}
.green{
	background: #59A49D;
}
.list-items li a span{
	font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
}
.shape-circle{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: #F2E6F3;
}
.search-box{
	margin: 1rem 0 2rem;
}
.search-box .has-search{
	/*box-shadow: 1px 4px 4px 0px #fbedfc;*/
	box-shadow: 14px 41px 100px rgba(49, 89, 211, 0.12);
}
.has-search .form-control {
    padding-left: 2.375rem !important;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.search-box form .form-control{
	border-radius: 2.25rem;
	padding: 1.5rem 0.75rem;
	border: 0;
	border-color: transparent;
}
/*********Responsive*********/
@media (min-width: 992px){
	.navbar-section  .navbar-nav .nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	}
}
@media (max-width: 1200px){
	.top-bar ul{
		padding-left: 0;
	}
	.login-btn{
		width: 160px;
	}
	.navbar-section .navbar{
		flex-direction: row-reverse;
	    padding: 0.5rem 0;
	}
	.navbar-section .navbar [data-toggle="collapse"]:after {
	    font-family: "FontAwesome";
	    content: "\f0c9";
	}
	.navbar-section .navbar [data-toggle="collapse"].collapsed:after {
	    transform: rotate(0deg);
	}
	#podcast .content-section .text-heading {
	    margin-bottom: 0rem;
	}
	.cube-box{
		margin-left: 3rem;
	    margin-bottom: 3rem;
	}
	.cube-box img{
		width: 50%;
	}
}