#podcast .content-section .text-heading {
    margin-bottom: 3rem;
}
.shape{
	position: absolute;
}
.play-icon{
	position: absolute;
	z-index: 10;
    max-width: 50px;
    left: calc(50% - 25px);
	top: calc(50% - 25px);
}
.header .shape-circle {
	top: 50px;
    left: -110px;
    width: 220px;
    height: 220px;
	background: #5956e921;
}
.play-box{
	width: 35%;
}
.user-hand{
	width: 60%;
	left: 80px;
    position: absolute;
}
.play-circle{
	position: absolute;
	top: -16%;
	left: -9%;
}
.circle1{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.yellow{
	background: #E7AE51;
}
.purple{
	background: #C37EB0;
}
.green{
	background: #59A49D;
}
.list-items li a span{
	font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
}
.shape-circle{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: #F2E6F3;
}
.search-box{
	margin: 3rem 0;
}
.search-box .has-search{
	box-shadow: 1px 4px 4px 0px #fbedfc;
}
.has-search .form-control {
    padding-left: 2.375rem !important;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.search-box form .form-control{
	border-radius: 2.25rem;
	padding: 1.5rem 0.75rem;
	border: 0;
	border-color: transparent;
}
.product-caption{
	font-family: 'Gilroy', sans-serif;
}
/*********Responsive*********/
@media (max-width: 1200px){
	#podcast .content-section .text-heading {
	    margin-bottom: 0rem;
	}
	.cube-box{
		margin-left: 3rem;
	    margin-bottom: 3rem;
	}
	.cube-box img{
		width: 50%;
	}
}