.tablet{
	width: 65%;
}
.shape-circle {
    width: 130px;
    height: 130px;
}
.search-box {
    margin: 1rem 0 2rem;
}
@media (max-width: 1200px){
	.cone-section{
		padding-left: 2rem !important;
	}
	.cube-box {
	    margin-left: 3rem;
     	margin-bottom: 0rem; 
	    margin-top: -3rem;
	}
	.cube-box img {
	    margin-top: 0 !important;
	}
	.tablet {
	    width: 100%;
	}
}