
@import url(../fonts/stylesheet.css);
*::before, *::after{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
  margin: 0 auto;
  font-size: 45px;

  
  @media screen and (min-width: 768px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 65px;
    line-height: 78px;
  }
}
/* header */
header{
  padding: 205px 0 70px 0;
  background-image: url(../images/hero-bg.png);
  background-position-x: 39px;
    .left-side{
      display: flex;
      align-items: center;
      @media screen and (max-width: 425px) {
        flex-direction: column;
      }
      .left-side_row{
        .brilliant-img, .man-face{
          max-width: 250px;
          @media screen and (min-width: 768px) {
            max-width: 320px;
          }
          img{
            width: 100%;
          }
        }
        .video-box{
          img{
            max-width: 100%;
          }
        }
        p{
          font-size: 12px;
          @media screen and (min-width: 1024px) {
            font-size: 16px;
          } 
          @media screen and (min-width: 1200px) {
            font-size: 20px;
          }
        }
      }
      
      
      p{
        font-size: 18px;
      }
      @media screen and (max-width: 425px) {
        margin-bottom: 30px;
      }
    }
    .right-side {
      display: flex;
     h3{
       display: inline-block;
       font-size: 35px;
       text-align: center;
       position: relative;
       margin-bottom: 30px;
      &::before{
        content: url(../images/air-phones_small.png);
        width: 50px;
        height: 50px;
        position: absolute;
        left: -6px;
        top: -83px;
      }
      
      @media screen and (min-width: 768px) {
        font-size: 40px;
      }
      @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
        font-size: 47px;
      }
     }
      
      p{
        max-width: 90%;
        margin: 0 auto;
        font-family: 'Gilroy',sans-serif;
        font-weight: 500;
        line-height: 30px;
        font-size: 19px;
        @media screen and (min-width: 768px) {
          line-height: 30px;
          font-size: 20px;
        }
      }

      @media screen and (max-width: 425px) {
        margin-bottom: 40px;
      }
  }
  .row {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 425px) {
    padding-bottom: 0px;
   
  }
 
}

.after-line{
  position: relative;
}
.after-line::after{
  content: "";
  background-image: url(../images/yellow-line.svg);
  position: absolute;
  bottom: -30px;
  left: -20px;
  height: 10px;
  background-position: center;
  background-size: cover;
  width: 100%;
}
// main
.bc-red{
  background-color: #E7AE51;
}
.bc-pink{
  background-color: #C37EB0;
}
.bc-green{
  background-color: #59A49D;
}
main {
  background-image: url(../images/main-bg.png);
  background-position: 209% 10%;
  padding-bottom: 200px;
  
  h1{
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      font-size: 50px;
      line-height: 60px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 50px;
      line-height: 78px;
    }
    @media screen and (min-width: 1400px) {
      font-size: 79px;
      line-height: 95px;
      margin-bottom: 40px;
    }
  }
  .colored-cirlce{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    @media screen and (min-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }
  .left-side{
    ul{
      margin: 0;
      padding: 0;
      font-family: 'Gilroy', sans-serif;
      font-size: 15px;
      font-weight: 500;
      @media screen and (min-width: 768px) {
        font-size: 15px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 24px;
      }
      @media screen and (min-width: 1400px) {
        font-size: 25px;
      }
      li{
        display: flex;
        align-items: center;
        padding-left: 40px;
        position: relative;
        margin-bottom: 20px;
        
      }
    }
  }
  .right-side {
    img{
      max-width: 350px;
      left: calc(50% - 175px);
      
      position: absolute;
      @media screen and (min-width: 768px) {
        max-width: 400px;
        left: -100px;
        top: 160px;
      }
      @media screen and (min-width: 1200px) {
        max-width: 500px;
        left: -20px;
        top: 100px;
      }
    }
  }
  .main-btn{
    margin-top: 250px;
    @media screen and (max-width: 425px) {
      margin-top: 75px;
    }
  }
 
}
.footer{
  position: relative;
  padding-top: 350px;
  .footer-img{
    position: relative;
    max-width: 150px;
    left: calc(50% - 75px);
    @media screen and (min-width: 768px){
      max-width: 300px;
      left: calc(50% - 150px);
    }
    @media screen and (min-width: 1200px){
      max-width: 500px;
      left: calc(50% - 250px);
    }
    
  }
  .specular{
    max-width: 50px;
    position: absolute;
    left: calc(50% - 92px);
    @media screen and (min-width: 768px){
      max-width: 100px;
      left: calc(50% - 225px);
    }
  }
  @media screen and (min-width: 1200px){
    padding-top: 250px;
  }
}
.shapes-container{
  img{
    position: absolute;
  }
  .small-ellipse{
    max-width: 200px;
    top: 250px;
    left: -150px;
    @media screen and (min-width: 1200px){
      max-width: 350px;
      top: 150px;
      left: -175px;
    }
  }
  .big-ellipse{
    max-width: 250px;
    right: -175px;
   bottom: -80px;
   @media screen and (min-width: 1200px){
      max-width: 550px;
      right: -275px;
      bottom: -275px;
   }
  }
}

